<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style> ul{
        display: flex;
        background-color: black;
        padding: 20px;
        justify-content: space-between;

    }
    li {
        text-decoration: none;
        list-style-type: none;
        height: 50px;
        width: 100px;
        background-color: bisque;
        padding: 20px;
        padding-top: 30px;
    }
    a{
        text-decoration: none;
    }
    li input{
        height:  40px;
        font-size: 16px;
        width:  90%;

    }</style>
</head>
<body>
    <ul>
        <li> <a href="/home">HOME</a></li>
        <li><a href="/search">SEARCH</a></li>
        <li><a href="/contact">CONTACT</a></li>
        <li style="background-color:black;"> <input type="search" placeholder="search"></li>
    </ul>
    <h1>about as page</h1>
    <form action="/find" method="POST">
        {% csrf_token %}
        <select name="select">
            <option value="by name"> BY NAME</option>
            <option value="by subject">BY SUBJECT</option>
            <option value="by rollno">BY ROLL NO</option>
            <option value="by Batch">BY BATCH</option>
            <option value="by qulification">by qulification</option>

        </select>
        <input type="text" name="find_value">


    </form>
    <form action="/find_like" method="POST">
        {% csrf_token %}
        <select name="selects">
            <option value="by first_name"> BY FIRST NAME</option>
            <option value="by last_name">BY LASTNAME SUBJECT</option>
            <option value="by first_letter">BY  FIRST LETTER</option>
          

        </select>
        <input type="text" name="find_values">


    </form><h2 style="text-align:center"> Blog Informationn </h2>
    <table align="center" style="margin: 0px auto;">
        <thead>
            <tr>
                <th>ROLL NO</th>
                <th>NAME</th>
                <th>AGE</th>
                <th>COURSE</th>
                <th>PHONE NUMBER</th>
                <th>ADDRESS</th>
              
            </tr>
        </thead>
        <tbody>
            {% for blog in search %}
            <tr>
                <td>{{blog.rollno}}</td>
                <td>{{blog.name}}</td>
                <td>{{blog.age}}</td>
                <td>{{blog.course}}</td>
                <td>{{blog.phone_number}}</td>
                <td>{{blog.address}}</td>
            </tr>
            
    
            {% endfor %}
        </tbody>
    </table>
   
</body>
</html>